{% extends 'layout.html' %}

{% block body %}
<!-- banner -->
<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">


						<div class="row no-gutters justify-content-around align-items-center" style="height: calc(100vh - 116px);">
<!-- <div class="col-12 py-3">
	<a href = "popular_movies.html" style="margin-left:6rem;color:white;font-size:24px;font-weight: 900;text-decoration: underline;">Popular movies</a>
</div> -->

<div class="col-4">
	<div class="card">
		<div class="card-body">
			<h4 style="font-weight: 900;margin-bottom: 1rem;"> Please enter the required information </h4>
		<form method="POST">
			<div class="form-group">
				<label>Please enter user id</label>
				<input type="text" class="form-control" placeholder="UserId" name="user_id" value="">
			</div>
			<div class="form-group">
				<label>Please enter movie name</label>
				<input type="text" class="form-control" placeholder="Movie Name" name="movie_name" value="">
			</div>
				<button type="submit" class="btn btn-info btn-block" style="color: black;  " > <b>Predict</b> </button>
		</form>
		</div>
	</div>
</div>
						</div>

	</div>
</section>
<!-- //banner -->


</html>

{% endblock %}
